@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0b0c0e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0b0c0e;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;

}
